<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.favdishjava">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FavDishJava">
        <activity
            android:name=".view.activities.AddUpdateDishActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.FavDishJava.NoActionBar"></activity>
        <activity
            android:name=".view.activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".view.activities.SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.FavDishJava.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>